body {
    height: 100vh; /* Hace que el fondo cubra toda la altura del viewport */
    background-color: rgb(255, 232, 236);
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    width: 65%;
    flex-direction: row;
    max-width: 1000px;
}

/* Contenedor de links de navegación */
.navegacion {
    position: fixed;
    top: 130px;
}

@font-face {
    font-family: 'starrynight'; /* Nombre que usaremos en CSS */
    src: url('fonts/starrynight.otf') format('truetype');
}

#nombre {
    color: black;
    font-family: 'starrynight';
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center; /* Centra el texto horizontalmente */
} 

@font-face {
    font-family: 'MF'; /* Nombre que usaremos en CSS */
    src: url('fonts/MF\ Dings.ttf') format('truetype');
}

#symbol {
    color: black;
    font-family: 'MF';
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 9px;
}   

/* Estilo para la barra que usa Flexbox para centrar */
.barra {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    gap: 5px; /* Agrega un espacio entre los enlaces */
}

/* Estilo para los enlaces dentro de la barra */
.barra a {
    text-decoration: none; /* Elimina el subrayado azul */
    color: inherit; /* Hereda el color del texto definido para el párrafo */
}

/* Estilo de los párrafos dentro de la barra */
.barra p {
    margin: 2px 0; /* Aumenta la separación entre los elementos */
    color: rgb(0, 0, 0); /* Color del texto */
    font-family: 'Trebuchet MS';
    font-weight: bold; /* Esto pone el texto en negrita */
    font-size: small;
}

/* Contenedor de datos */
.datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea todos los elementos hijos a la izquierda */
    width: 100%;
    gap: 10px;
    margin-top: 115px;
    margin-bottom: 140px;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho total */
    padding-left: 250px;
    color: rgb(0, 0, 0); /* Color del texto */
    font-family: 'Trebuchet MS';
}

h1 {
    text-align: left; /* Asegura que el texto introductorio también esté alineado a la izquierda */
    font-size: 16px;
    line-height: 2.5;
    margin: 0;
    font-weight: bold; /* Esto pone el texto en negrita */
}

h2 {
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.4;
    text-align: left; /* Asegura que los títulos estén alineados a la izquierda */
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left; /* Alinea los elementos de la lista a la izquierda */
}

ul li {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.3;
}
